    <head>
        <meta charset="utf-8">
        <h1>{{pageTitle}}</h1>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About page</a></p>
        <p><a href="/project">Portfolios</a></p>
    </head>
